// start global rules
body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
//start global vars

$mainColor: #cea281;

// start customize home page

.home-page {
  height: 100vh;
  #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    //background-color: rgba(0, 0, 0, 0.6);
  }
  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
    color: #fff;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    i {
      margin: 0 5px;
      font-size: 32px;
    }
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 20%;
    z-index: 9999;
    background-color: #1b1b1b;
    color: #fff;
    @media (max-width: 767px) {
      width: 35%;
    }
    @media (max-width: 500px) {
      width: 45%;
    }
    @media (max-width: 375px) {
      width: 65%;
    }
    ul {
      li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        a {
          display: block;
          transition: 0.3s all ease-in-out;
          border-left: 3px solid transparent;
          padding: 15px;
          color: #fff;
          text-decoration: none;
          &:hover {
            color: $mainColor;
            border-color: $mainColor;
            margin-left: 5px;
          }
          i {
            margin: 0 5px 0 0;
          }
        }
      }
      .close-side {
        position: relative;
        .fa-times {
          position: absolute;
          right: 0;
          top: 0;
          font-size: 24px;
          background: #cea281;
          padding: 15px;
          cursor: pointer;
        }
      }
    }
  }
  .search {
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color: #fff;
      transition: 0.3s all ease-in-out;
      &:hover i {
        color: $mainColor;
      }
      i {
        color: green;
        font-size: 32px;
        margin: 0 0 28px 0;
        display: block;
        color: #fff;
        transition: 0.3s all ease-in-out;
      }
    }
  }
  .ask-me {
    position: fixed;
    top: 50%;
    right: -139px;
    z-index: 9999;
    background-color: $mainColor;
    padding: 10px;
    height: 45px;
    transform: translateY(-50%);
    i {
      position: absolute;
      left: -40px;
      display: block;
      width: 40px;
      height: 45px;
      background-color: #575757;
      border-radius: 20px 0 0 20px;
      text-align: center;
      line-height: 40px;
      color: #fff;
      top: 0;
      font-size: 24px;
      cursor: pointer;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  #carouselExampleIndicators {
    .port {
      position: absolute;
      bottom: 0;
      right: 0px;
      width: 20%;
      background: #fff;
      padding: 18px;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 710px) {
        width: 30% !important;
      }
      @media (max-width: 471px) {
        width: 40% !important;
      }
      @media (max-width: 352px) {
        width: 50% !important;
      }
      a {
        color: #000;
        text-decoration: none;
      }
      i {
        margin-right: 5px;
      }
    }
    .carousel-indicators {
      background-color: #15171c;
      padding: 26px;
      width: 80% !important;
      display: flex;
      align-items: center;
      position: absolute;
      justify-content: left !important;
      left: 0;
      bottom: 0;
      margin: 0;
      @media (max-width: 710px) {
        width: 70% !important;
      }
      @media (max-width: 471px) {
        width: 60% !important;
      }
      @media (max-width: 352px) {
        width: 50% !important;
      }
      .active {
        background-color: $mainColor;
      }
      li {
        height: 8px;
        background-color: #989898;
        cursor: pointer;
      }
    }
    .carousel-inner {
      width: 100%;
      height: 100vh;
      position: relative;
      .carousel-item {
        img {
          height: 100vh !important;
        }
        .slide-item {
          position: absolute;
          top: 40%;
          left: 10%;
          width: 45%;
          min-height: 30%;
          background-color: rgba(0, 0, 0, 0.3);
          border-left: 4px solid #cea281;
          z-index: 999;
          color: #fff;
          padding: 15px;
          @media (max-width: 992px) {
            width: 70%;
          }
          @media (max-width: 600px) {
            width: 85%;
            left: 5%;
          }
          h2 {
            font: {
              weight: bold;
              size: 42px;
            }
            margin: 0 0 24px 10px;
            @media (max-width: 600px) {
              font-size: 36px;
            }
            @media (max-width: 450px) {
              font-size: 32px;
            }
          }
          p {
            font-size: 24px !important;
            margin: 0 0 0 10px;
            @media (max-width: 450px) {
              font-size: 22px !important;
            }
          }
        }
      }
    }
  }
  .footer {
    position: absolute;
    z-index: 99999999;
    bottom: -61px;
    color: #ccc;
    background-color: #1b1b1b;
    width: 100%;
    min-height: 61px;
    line-height: 58px;
    @media (max-width: 767px) {
      text-align: center;
    }
    .social {
      a {
        margin: 0 15px;
        font-size: 24px;
        text-decoration: none;
        .fa-facebook {
          color: #3b5998;
        }
        .fa-twitter {
          color: #1da1f2;
        }
        .fa-linkedin {
          color: #0077b5;
        }
        .fa-instagram {
          color: #c13584;
        }
        .fa-pintrest {
          color: #e60023;
        }
      }
    }
    @media (max-width: 767px) {
      .col-xs {
        display: none;
      }
      .row {
        justify-content: center;
      }
    }
    .numbers {
      p {
        margin: 0 15px;
        i {
          margin: 0 5px 0 0;
        }
      }
    }
  }
}
